table {
    box-sizing: border-box;
    width: 50%;
    max-width: 50%;
    border-collapse: collapse;
    border: solid #e0e0dc;
    border-width: 1px 0 0 1px;
}

td, th {
    text-align: left;
    border: solid #e0e0dc;
    border-width: 0 1px 1px 0;
    padding: 6px 8px;
}

#total-price, #amount-saved {
  font-weight: bold;
  font-size: 1.25em;
}